@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}
<form method = "post" action = "/posts/create">
<label for = "message-input">Type your Message</label>
<input id = "message-input" type = "text" name="Message"/>

<label for = "imageUrl-input">Upload your Image</label>
<input id = "imageUrl-input" type = "text" name="ImageUrl"/>

<label for = "userId-input">Type your User ID</label>
<input id = "userId-input" type = "text" name="UserId"/>

<button type = "submit">Create your Post!</button>






</form>