@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}
<ol>
    @foreach (var post in Model.Posts)
    {
        <li>
            
        <p>  @post.Message  </p>

        <img src="@post.ImageUrl" alt= image/>

        </li>
        
    }
</ol>

<a href = "/posts?pageNumber=@(Model.CurrentPageNumber - 1 )" >Previous Page</a>

<a href = "/posts?pageNumber=@(Model.CurrentPageNumber + 1 )">Next Page</a>