<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFace</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    <nav class="nav-bar">

     <a class=" nav-link" href="/">MyFace</a>

      <a class="nav-link" href="/posts">Posts</a>

      <a class="nav-link " href="/posts/create">Create Post</a>

      <a class="nav-link " href="/users">Users</a>

      <a class="nav-link" href="/privacy">Privacy</a>
      </nav>
          
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - MyFace - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
