@{
    Layout = "_Layout";
}

<h1>Welcome to MyFace!.</h1>

<p>We like dogs!</p>

<img src= "dogimage.jpg"
alt="Two dogs"> 

<h2> Why our site is so good</h2>
<p> becuase dogs. </p>

<a href= https://www.rspca.org.uk> Link to the RSPCA website</a>


